.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LoginForm {
  border-style: ridge;
  border-radius: 10px;
  border-color: rgba(105, 105, 105, 0.048);
  width: 350px;
  height: 500px;
  margin-top: 60px;
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: darkblue;
  letter-spacing: 12px;
  font-weight: bolder;
  margin-top: 30px;
}
h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -45px;
  color: darkblue;
  letter-spacing: 2.8px;
  margin-right: 5px;
}
h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 13px;
  margin-top: 40px;
}

.containerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.allwidth {
  width: 270px;
}

.Btn4 {
  display: flex;
  justify-content: center;
  margin-left: 37px;
  max-width: 270px;
  border-color: darkblue;
  background-color: white;
  color: darkblue;
  margin-bottom: 13px;
  width: 270px;
}
.fpass {
  margin-top: 15px;
}
.Dropdrop {
  margin-bottom: 10px;
}
.titlTable {
  display: flex;
  justify-content: center;
}
