@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
  align-items: center;
height: 45px;

   border-bottom-style: ridge;
   border-bottom-color: rgba(255, 255, 255, 0.507);
}
.leftNav{
      margin:10px 0px 10px 25px;
      color: rgb(11, 11, 139);
}
.rightNav{
  margin: 10px 25px 10px 0;
}
.btn1{
  color:rgba(14, 14, 139, 0.863) ;
    border-color:rgba(14, 14, 139, 0.863) ;
    font-weight:10px;
}
.btn2{
    background-color:rgba(14, 14, 139, 0.863); 
    color:white;
    font-weight:10px;
}
.profimage{

  border-radius: 100px;
  width: 30px;
  border-style: ridge;
  border-color: darkblue;
  border-width: thin;
 margin-left: 3px;
}

.logoutlogo {
border-style: none;
border-color: white;
background-color: rgba(255, 255, 255,);
box-shadow: 0px 8px 32px 0 rgba(33, 27, 87, 0.192);
backdrop-filter: blur(3px);
}
.lodBtn{
  border-style: solid;
  border-color: darkblue;
  background-color: darkblue;
  color: white;
  margin-bottom: 13px;
}
.lodBtn:hover{
  border-style: solid;
  border-color: rgba(0, 0, 139, 0.61);
  background-color: rgba(0, 0, 139, 0.712);
  color: white;
  margin-bottom: 13px;
}
.Clickme{
 
  color: white;
  background-color: darkblue;
 
}
.InvoicesName{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
 
  
}


.Msg1{
  margin-top: 40px;
  
  display: flex;
  justify-content: center;
  font-size: 15px;
 

}
.Msg2{
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  font-size: 15px;

}
.Tablef{
  margin-top: 50px;
}
.leftproject{
  column-width: 300px;
}
.AppointLogo{
  margin-top: 40px;
 display: flex;
 justify-content: center;
 width: 80%;
 margin-left: 10%;
}
.AppointLogo p {
text-align: center;
font-size: 15px;

}
.fixpos{
  position: fixed;
}

@media (max-width : 550px){
header{
 
    display: flex;
    justify-content: space-between;
  align-items: center;
height: 45px;
width: 100%;
   border-bottom-style: ridge;
   border-bottom-color: rgba(255, 255, 255, 0.507);
}
.profimage{

  border-radius: 100px;
  width: 30px;
  border-style: ridge;
  border-color: darkblue;
  border-width: thin;
 margin-left: 3px;
 margin-top: 11px;
}
.InvoicesName{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
 
  
}
.Msg1{
  margin-top: 40px;
  
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12px;
 

}
.Msg2{
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  font-size: 12px;

}
.leftproject{
  column-width: 300px;
  font-size: 10px;
}
.wholecards{
  display: flex;
  justify-content: center;
  
}
.cardsprops img{
  margin-top: 10px;
  width: 150px;
}
.cardsprops{
  
  display: flex;
  justify-content: center;
 text-align: center;
  width: 150px;
  height: 250px;
  border-color: rgba(0, 0, 255, 0.055);
  margin: 10px;
  margin-top: 20px;
 
}
.cardsprops p{
  margin-top: 2px;
 font-size: 20px;
 font-weight: bold;
}
.cardsprops:focus{
  display: flex;
  justify-content: center;
 text-align: center;
 width: 150px;
  height: 250px;
  border-color: rgba(255, 81, 0, 0.685);

        box-shadow: 0px 8px 32px 0 rgba(50, 40, 148, 0.397);
        backdrop-filter: blur(3px);

  margin-top: 20px;
}
.cardsprops:hover{
  display: flex;
  justify-content: center;
 text-align: center;
 width: 150px;
  height: 250px;
  border-color: rgba(0, 0, 255, 0.685);
  background-color: rgba(50, 50, 138, 0.048);;
  transition-delay:.2s;
        box-shadow: 0px 8px 32px 0 rgba(50, 40, 148, 0.397);
        backdrop-filter: blur(3px);

  margin-top: 20px;
}
.cardsprops.active{
  display: flex;
  justify-content: center;
 text-align: center;
 width: 270px;
  height: 335px;
  border-color: rgba(0, 0, 255, 0.685);

        box-shadow: 0px 8px 32px 0 rgba(50, 40, 148, 0.397);
        backdrop-filter: blur(3px);

  margin-top: 20px;
}

}
@media (max-width : 1000px )and (min-width: 551px) {

  header{
 
    display: flex;
    justify-content: space-between;
  align-items: center;
height: 45px;
width: 100%;
   border-bottom-style: ridge;
   border-bottom-color: rgba(255, 255, 255, 0.507);
border-width: 100%;
}
.rightNav{
  margin: 10px 20px 10px 0;

  }
  .leftNav{
    margin:10px 0px 10px 20px;
    color: rgb(11, 11, 139);
    }
    .wholecards{
      display: flex;
      justify-content: center;
      
    }
    .cardsprops img{
      margin-top: 10px;
      width: 150px;
    }
    .cardsprops{
      
      display: flex;
      justify-content: center;
     text-align: center;
      width: 150px;
      height: 250px;
      border-color: rgba(0, 0, 255, 0.055);
      margin: 10px;
      margin-top: 20px;
     
    }
    .cardsprops p{
      margin-top: 2px;
     font-size: 20px;
     font-weight: bold;
    }
    .cardsprops:focus{
      display: flex;
      justify-content: center;
     text-align: center;
     width: 150px;
      height: 250px;
      border-color: rgba(255, 81, 0, 0.685);
    
            box-shadow: 0px 8px 32px 0 rgba(50, 40, 148, 0.397);
            backdrop-filter: blur(3px);
    
      margin-top: 20px;
    }
    .cardsprops:hover{
      display: flex;
      justify-content: center;
     text-align: center;
     width: 150px;
      height: 250px;
      border-color: rgba(0, 0, 255, 0.685);
      background-color: rgba(50, 50, 138, 0.048);;
      transition-delay:.2s;
            box-shadow: 0px 8px 32px 0 rgba(50, 40, 148, 0.397);
            backdrop-filter: blur(3px);
    
      margin-top: 20px;
    }

}


@media  (min-width: 1001px) {

  .LoginForm {
    background-color: rgba(255, 255, 255,);
    box-shadow: 0px 8px 32px 0 rgba(33, 27, 87, 0.192);
    backdrop-filter: blur(3px);
    padding: 45px 40px 70px 40px;
    border-radius: 5px;

    }
    .wholecards{
      display: flex;
      justify-content: center;
      
    }
    .cardsprops img{
      margin-top: 10px;
      width: 150px;
    }
    .cardsprops{
      
      display: flex;
      justify-content: center;
     text-align: center;
      width: 150px;
      height: 250px;
      border-color: rgba(0, 0, 255, 0.055);
      margin: 10px;
      margin-top: 20px;
     
    }
    .cardsprops p{
      margin-top: 2px;
     font-size: 20px;
     font-weight: bold;
    }
    .cardsprops:active{
      display: flex;
      justify-content: center;
     text-align: center;
     width: 150px;
      height: 250px;
      border-color: rgba(255, 81, 0, 0.685);
    
            box-shadow: 0px 8px 32px 0 rgba(50, 40, 148, 0.397);
            backdrop-filter: blur(3px);
    
      margin-top: 20px;
    }
    .cardsprops:hover{
      display: flex;
      justify-content: center;
     text-align: center;
     width: 150px;
      height: 250px;
      border-color: rgba(0, 0, 255, 0.685);
      background-color: rgba(50, 50, 138, 0.048);;
      transition-delay:.2s;
            box-shadow: 0px 8px 32px 0 rgba(50, 40, 148, 0.397);
            backdrop-filter: blur(3px);
    
      margin-top: 20px;
    }
    .cardsprops.active{
      display: flex;
      justify-content: center;
     text-align: center;
     width: 270px;
      height: 335px;
      border-color: rgba(0, 0, 255, 0.685);
    
            box-shadow: 0px 8px 32px 0 rgba(50, 40, 148, 0.397);
            backdrop-filter: blur(3px);
    
      margin-top: 20px;
    }
    
}


.Msg3{
  margin-top: 40px;
  
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
 
}
.Msg4{
  margin-top: 20px;
  
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
 
}