@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
  align-items: center;
height: 45px;

   border-bottom-style: ridge;
   border-bottom-color: rgba(255, 255, 255, 0.507);
}
.leftNav{
      margin:10px 0px 10px 25px;
      color: rgb(11, 11, 139);
}
.rightNav{
  margin: 10px 25px 10px 0;
}
.btn1{
  color:rgba(14, 14, 139, 0.863) ;
    border-color:rgba(14, 14, 139, 0.863) ;
    font-weight:10px;
}
.btn2{
    background-color:rgba(14, 14, 139, 0.863); 
    color:white;
    font-weight:10px;
}
.profimage{

  border-radius: 100px;
  width: 30px;
  border-style: ridge;
  border-color: darkblue;
  border-width: thin;
 margin-left: 3px;
}

.logoutlogo {
border-style: none;
border-color: white;
background-color: rgba(255, 255, 255,);
box-shadow: 0px 8px 32px 0 rgba(33, 27, 87, 0.192);
backdrop-filter: blur(3px);
}
.lodBtn{
  border-style: solid;
  border-color: darkblue;
  background-color: darkblue;
  color: white;
  margin-bottom: 13px;
}
.lodBtn:hover{
  border-style: solid;
  border-color: rgba(0, 0, 139, 0.61);
  background-color: rgba(0, 0, 139, 0.712);
  color: white;
  margin-bottom: 13px;
}
.Clickme{
 
  color: white;
  background-color: darkblue;
 
}
.InvoicesName{
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
 
  
}


.Msg1{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 15px;
 

}
.Msg2{
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  font-size: 15px;

}
.Tablef{
  margin-top: 50px;
}
.leftproject{
  margin-right: 400px;
}
.AppointLogo{
  margin-top: 30px;
 height: 20px;
 display: flex;
 justify-content: center;
}
.AppointLogo p {
text-align: center;
font-size: 15px;
}